@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script defer src="~/Scripts/JavaScript/EmployeeViewScript.js"></script>
<link rel="stylesheet" href="~/Content/CSS/EmployeeOverlay.css">

<div class="List-area">
    <div class="area-container ">
        <div class="container-title">
            <h3>Available Trainings</h3>
            <button class="item-button" onclick="TrainingTableToggle()"><image class="arrow" id="trainingTableArrowId" src="~/Content/image/Arrow.png"></button>
        </div>
        <div class="container-list" id="containerUnenrolledListId">
            <table class="list-item display compact" width="100%" id="trainingTableId">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Available seats</th>
                        <th>Description</th>
                        <th>Option</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="area-container ">
        <div class="container-title">
            <h3>Submitted training request</h3>
            <button class="item-button" onclick="EnrollmentTableToggle()"><image class="arrow" id="enrollmentTableArrowId" src="~/Content/image/Arrow.png"></button>
        </div>
        <div class="container-list" id="containerEnrolledListId">
            <table class="list-item display compact" id="enrollmentTableId">
                <thead>
                    <tr>
                        <th>Submission date</th>
                        <th>Status</th>
                        <th>Option</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="area-container ">
        <div class="container-title">
            <h3>Required files</h3>
            <button class="item-button" onclick="PrerequisiteTableToggle()"><image class="arrow" id="prerequisiteTableArrowId" src="~/Content/image/Arrow.png"></button>
        </div>
        <div class="container-list" id="containerEnrolledListId">
            <table class="list-item display compact" id="prerequisiteTableId">
                <thead>
                    <tr>
                        <th>Prerequisite</th>
                        <th>ViewFile</th>
                        <th>Upload</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="screenOverlay" class="overlay">
    <div class="display-content">
        <div class="text-content">
            <p id="detailTitle">Title :</p>
            <p id="detailDepartmentPriority">Priority to :</p>
            <p id="detailDescription">Description : </p>
            <p id="detailDate">Date : </p>
        </div>
        <div class="upload-area" id="upload-form-container">
            <form class="upload-form" id="uploadFormId">
            </form>
        </div>
        <div class="button-content">
            <div class="button-container">
                <button class="item-button-overlay" id="enrollBtn" name="enrollButton" >Enroll</button>
                <button class="item-button-overlay" id="closeDetailsBtn" onclick="HideDetail()">Close</button>
            </div>
        </div>
    </div>
</div>
