body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgb(240, 240, 240);
}
.area {
    width: 40%;
    min-width: 500px;
    min-height: 700px;
    margin: 0px 30%;
    display: flex;
    flex-wrap: wrap;
}
form {
    background-color: white;
    width: 100%;
    margin: 100px 0px;
    display: flex;
    flex-wrap: wrap;
}
.image-container {
    background-color: blue;
    width: 60%;
    height: 150px;
    margin: 40px 20%;
}
.notification {
    color: red;
    text-align:center;
}
h2 {
    margin-left: 10%;
}
.input-container{
    width: 100%;
    margin: 0px 10%;
}
.field-container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.input-field {
    display: grid;
    grid-template-rows: 50% 50%;
    margin: 10px 10%;
}
label {
    font-size: 13px;
}
input[type=text], input[type=number], input[type=password], input[type=tel] {
    border: none;
    border-bottom: 1px solid black;
}
input[type=tel]{
    width : 100%;
}
input[type=button] {
    width: 50%;
    margin: 10px 25%;
    background-color: rgb(57,130,232);
    border: none;
    padding: 10px 10px;
    border-radius: 20px;
    color: white;
}
input[type=button]:active {
    background-color: rgb(94, 160, 252);
}
input:focus {
    transition: 0.5s;
    outline: none;
    border-bottom: 1px solid rgb(47,102,217);
}
label:has(+ input:focus ) {
    transition: 0.5s;
    color: rgb(53,114,224);
}
.country{
    visibility: hidden;
}