@import 'VariablesStylus.styl'

.List-area 
    width: widthRatio ;
    min-height: 500px;
    min-width: 800px;
    border: 2px solid lightGrey;
    height: fit-content;
    margin: 0px 10%;

    .area-container 
        background-color: white;
        width: 100%;
        border: 2px solid rgb(240, 240, 240);
        height: fit-content;

    .container-title 
        margin: 20px 20px;

    .container-list 
        width: 90%;
        margin: 0px 5%;
    
        .list-item 
            width: 100%;
            background-color: white;
            text-align: center;

.first-column 
    display: grid;
    grid-template-columns: 20% 20% 60%;

.second-column 
    display: grid;
    grid-template-rows: auto auto auto;

.button-Area 
    display: grid;
    grid-row: inherit;

.List-button 
    margin: 5px;

.item-button 
    width: 100%;
    height: 20px;
    background-color: rgb(57,130,232);
    margin: 5px 0px;
    border: none;
    color: white;
    display: inline-block;

.overlay 
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(155, 155, 155, 0.5);
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;

    .display-content
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(250, 250, 250);
        margin: 200px 30% 0px 30%;
    
    .upload-area
        width: widthRatio;
        background-color: lightGrey;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    .button-content
        width: 100%;
        text-align: center;

.text-content, .button-content, .upload-area
    margin: 10px 10%;

.upload-button 
    float: right;

.item-button-overlay 
    width: 40%;
    height: 20px;
    background-color: baseBlue;
    border: none;
    color: pureWhite;

.dataTable 
    width: widthRatio !important;
    padding: marginRatio !important;


label:has(+ input:focus ), label:has(+ select:focus ), label:has(+ textArea:focus ) 
    transition: 0.5s;
    color: activeBlue;

input:focus, select:focus, textArea:focus 
    transition: 0.5s;
    outline: none;
    border-bottom: 1px solid rgb(47,102,217);