@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/CSS/ErrorPageStyleSheet.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div class="text-container">
        <div class="error-container container">
            <div class="split">
                <h1 id="error-title">Error 500 !!</h1>
                <h2 id="error-message">An error occured while processing your request</h2>
            </div>
            <div class="image-container">
                <img src="~/Content/image/500_Internal_Server_Error.svg" alt="error 500 image">
            </div>
        </div>
    </div>
</body>
</html>